body{
    background-image: url(background1.jpg); 
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;  
}

.profilepic{ 
    height: 210px;
    width: 210px;
    border-radius: 50%;
    /* margin-right: 750px; */
    margin-top: 30px;
}

.name{
    color: whitesmoke;
    font-size: 40px;
    font-family: Poppins;
    font-weight: bold;
    /* margin-right: 725px; */
    letter-spacing: 4px;
}

.caption{
    color: whitesmoke;
    font-size: 24px;
    font-family: Poppins;
    font-weight: bold;
    /* margin-right: 655px; */
    letter-spacing: 3px;
}

#button1{
    cursor: pointer;
    background-color: transparent;
    font-family: Poppins;
    font-size: 20px;
    color: whitesmoke;
    border: 4px solid whitesmoke;
    border-radius: 15px;
    display:inline;
    margin-top: 50px;
    padding: 3px 40px;
}

    #getInTouch{
        cursor: pointer;
        background-color: transparent;
        font-family: Poppins;
        font-size: 20px;
        color: whitesmoke;
        border: 4px solid whitesmoke;
        border-radius: 15px;
        display:block;
        margin-top: 50px;
        padding: 3px 40px;
    }

    #aboutMe{
        cursor: pointer;
        background-color: transparent;
        font-family: Poppins;
        font-size: 20px;
        color: whitesmoke;
        border: 4px solid whitesmoke;
        border-radius: 15px;
        display:inline;
        margin-top: 50px;
        margin-left: 15px;
        padding: 3px 40px;
    }

    #mySidebar1{
        font-family: Poppins;
        color: black;
        background-color: white;
        height: 100%;
        border-radius: 5px;
        padding: 20px;
    }

    .closebutton{
        float:right;
        background-color: white;
        color: black;
        border: none;
        font-size: 30px;
        cursor: pointer;
        padding-top: 10px;
    }

    .animate-left{
        position:relative;
        animation:animateleft 0.6s}
        
        @keyframes animateleft{
            from{left:-300px;opacity:0} to{left:0;opacity:1}
        }

    .animate-right{
        position:relative;
        animation:animateright 0.6s
    }
    @keyframes animateright
    {
        from{right:-300px;opacity:0} to{right:0;opacity:1}
    }

    .contactsPage
    {
        font-family: Poppins; 
        margin: 0;
        box-sizing: border-box; 
        position: relative;
        min-height: 100vh;
        padding: 50px 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    
.contactsPage .content{
    max-width: 800px;
    text-align: center;

}

h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0px;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
    margin-top: -30px;
}

.container .contactInfo .box .text h3{
    font-weight: bold;
    color: #f8f8ff;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background-color: white;   
}

.contactForm h2{
    font-size: 26px;
    color: black;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input, textarea{
    width: 100%;
    /* padding: 5px 0; */
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: -5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color:grey;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type = "submit"]
{
    cursor: pointer;
    background-color: transparent;
    font-family: Poppins;
    font-size: 16px;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 50px;
    width: 100px;
}